.container {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
.card {
  padding: 20px;
  width: fit-content;
  height: fit-content;
  text-align: center;
  box-shadow: 5px 5px 10px #888;
  border-radius: 5px;
  background: #2bc0e4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #eaecc6,
    #2bc0e4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #eaecc6,
    #2bc0e4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#choose {
  padding: 5px;
}
#temp {
  color: rgb(21, 19, 136);
  margin: 15px;
}
.temptype {
  margin-top: 5px;
}
.tempbtn {
  padding: 10px;
  width: 40px;
  border-radius: 5px;
  margin: 5px;
  background-color: white;
}
.tempbtn:focus {
  border-style: inset;
  background-color: rgb(40, 115, 150);
  color: white;
}
.tempbtn:hover {
  background-color: rgb(40, 115, 150);
}
form {
  margin-top: 2%;
  text-align: center;
}
#type {
  margin-right: 50px;
}
#city {
  font-weight: 500;
  margin: 0;
}
.addCity {
  text-align: center;
  margin-top: 3%;
}
.addbtn {
  padding: 10px 70px 10px 70px;
  border-radius: 5px;
  background-color: lightpink;
}
