.box {
  display: flex;
  width: fit-content;
  flex-flow: row;
  justify-content: center;
}
.cities {
  padding: 10px 100px 10px 100px;
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  margin-top: 5%;
}
.temp {
  padding: 10px 100px 10px 100px;
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  margin-top: 5%;
}
