.navbar {
  background: #2bc0e4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #eaecc6,
    #2bc0e4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #eaecc6,
    #2bc0e4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 10vh;
  align-items: center;
  justify-content: space-around;
  display: flex;
}
h3 {
  font-weight: 300;
}
ul {
  list-style: none;
  display: flex;
  width: 50vw;
  text-decoration: none;
  justify-content: space-around;
}
li {
  display: list-item;
  padding: 10px;
}
a {
  text-decoration: none;
  color: black;
}
li:hover {
  border: 1px solid black;
  cursor: pointer;
}
